# Node
node_modules/
dist/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*

# IDEs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# Coverage
coverage/

# Misc
*.tgz

# Build
build/

# Test
/test/**/*.js
/test/**/*.js.map 